body {
  background-color:honeydew;
}
div {
  text-align: center;
}
ul {
  list-style: none;
}
button {
  color: white;
  background-color: gray;
  box-shadow: 1px 1px 3px gray;
  border: none;
  border-radius: 10px;
  margin: 0px 40px;
}